@using Website.Model;
@{List<Account_Student> lstAccS = ViewBag.lstStudentmodal; int type = ViewBag.type;}

@foreach (Account_Student item in lstAccS)
{
    <tr>
        <td>
            <span class="idAcc" hidden>@item.id</span>
            <div class="form-check">
                @if (type == 2)
                {
                    <input class="form-check-input modal-student-search-check" type="checkbox">
                }
                else
                {
                    <input class="form-check-input modal-student-resultStudent-check" type="checkbox">
                }

            </div>
        </td>
        <td>
            <div class="row">
                <div class="col">
                    <img class="logo-avt" src="~/Content/img/@item.Img" alt="@item.Img">
                </div>

                <div class="col">
                    <div class="row"><span>@item.FullName</span></div>
                    <div class="row">@item.BrithDay</div>
                </div>
            </div>
        </td>
        <td>
            <span>@item.Username</span>
        </td>
        <td>
            <div class="row">
                <span>@item.Gender</span>
            </div>
        </td>
        <td>
            <div class="row">
                <span>@item.Email</span>
            </div>
        </td>
        <td>
            <div class="row">
                <span>@item.PhoneNumber</span>
            </div>
        </td>
        <td>
            <span><a href="#">Chi tiết</a></span>
        </td>
    </tr>
}
<script src="~/Content/js/lstAccount_modal.js"></script>
