@using Website.Model;
@{
    ViewBag.Title = "view_list_course";
    Layout = "~/Views/Shared/Layout_student.cshtml";
    List<Course> lstCourse = ViewBag.listCourse.courses;
}

<h2>Danh sách học phần có trong hệ thống</h2>
<div class="table-responsive">
    <div class="row" style="float:right">
        <div class="col">
            <button type="button" style="margin: 5px;" class="btn btn-outline-success" onclick="location.href='@Url.Action("ViewAdd", "Course")'">Thêm mới</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="table-info">#</th>
                <th scope="col" class="table-info">Mã học phần</th>
                <th scope="col" class="table-info">Tên học phần</th>
                <th scope="col" class="table-info">Số lớp học phần</th>
                <th scope="col" class="table-info">
                </th>
            </tr>
        </thead>
        <tbody>
            @if (lstCourse == null)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>test</td>
                    <td>Test</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark">Chi tiết</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">Sửa</button>
                        <button type="button" class="btn btn-outline-danger">Xóa</button>
                    </td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (Course item in lstCourse)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.CodeCourse</td>
                        <td>@item.NameCourse</td>
                        <td>
                            @item.LstClass.classCourses.Count lớp.
                            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("ShowListClassCourse", "Course", new { id = item.id })'">Chi tiết</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-warning" onclick="location.href='@Url.Action("ViewEdit", "Course", new { id = item.id })'">Sửa</button>
                            <button type="button" class="btn btn-outline-danger">Xóa</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>